body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap;
    width: 50%;

}


table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
