body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap;
    width: 50%;

}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#searchButton, #filterDropdown {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

#chart {
    margin-top: 20px;
}

#dataTable{
    width: 60%;
}


button {
    width: 150px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    font-size: 16px; /* Set the font size of the button text */
    border-radius: 8px;
}

/* Style for the input field */
input {
    width: 400px; /* Set the width of the input field */
    height: 30px; /* Set the height of the input field */
    font-size: 20px; /* Set the font size of the input text */
    border-radius: 8px;
}